.header-top {
  padding: 15px 0;
  background: $accent-color;
  color: white;
  margin-bottom: 65px;
}

.header-summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__site-brand {

  }

  &__site-nav {

    .menu {

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      
      .menu-item {
        list-style: none;
        
        &:not(:last-child) {
          margin-right: 30px;
        }

        &__active {

          a {
            border-bottom: solid 1px;
          }
        }
      }
    }
  }

  &__site-tools {
    margin-left: auto;
  }
}