.welcome {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
  background: #dee4de;
  border-radius: 3px;

  &__entry {
    width: 60%;
    padding-left: 4vw;
    box-sizing: border-box;

    h1 {
      margin-top: 0;
    }

    .text-entry {
      margin-bottom: 25px;
    }
  }

  &__image {
    width: 35%;
    line-height: 0;

    img {
      width: 100%;
    }
  }
}