@import 'variables';
@import 'header';
@import 'footer';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-container {
  width: $site-container-width;
  max-width: calc(100% - 30px); // mg, pd 15px
  margin: 0 auto;
}